.table th, .table td {
    vertical-align: middle;
}
.table img {
    border-radius: 8px;
}
.btn-custom {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
}

.btn-edit{
    background-color: #85AF97;
}

.btn-delete{
    background-color: #728D5A;
    color: aliceblue;
}

.btn-delete:hover{
    color: black;
}