
body {
    background-color: #D6EFD8;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

/* Custom Button Styles */
.btn-custom {
    font-weight: bold;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.btn-custom:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 12px #1A5319;
    background-color: #1A5319;
    color: white;
}

.btn-products {
    background: #FEFAE0;
    border: none;
    color: #1A5319;
    box-shadow: 0px 4px 12px #1A5319;
}
.btn-orders {
    background: #FEFAE0;
    border: none;
    color: #1A5319;
    box-shadow: 0px 4px 12px #1A5319;
}
.btn-inventory {
    background: #FEFAE0;
    border: none;
    color: #1A5319;
    box-shadow: 0px 4px 12px #1A5319;
}
.btn-users {
    background: #FEFAE0;
    border: none;
    color: #1A5319;
    box-shadow: 0px 4px 12px #1A5319;
}
.btn-analytics {
    background: #FEFAE0;
    border: none;
    color: #1A5319;
    box-shadow: 0px 4px 12px #1A5319;
}
/* Styles for Top Selling Products */
.top-products-container {
    margin-top: 40px;
}
.product-card {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}
.product-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.product-details {
    padding: 10px;
}
.product-title {
    font-size: 18px;
    font-weight: bold;
}
.product-sales {
    color: #888;
}

.dashboard-summary {
    background-color: #FEFAE0;
    padding: 10px;
    border-radius: 8px;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 18px;
    color: #1A5319;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.3s ease;
}

.carousel-card {
    flex: 0 0 33.33%; /* Show 3 cards at once */
    box-sizing: border-box;
    padding: 10px; /* Optional spacing around cards */
}

.product-card {
    border: 1px solid #FEFAE0;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #FEFAE0;
}

.product-image {
    max-width: 85%;
    height: auto;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.carousel-btn.left {
    left: 10px;
}

.carousel-btn.right {
    right: 10px;
}

.navbar{
    background-color: #75975e;
}

.hover-effect {
    background-color: #333; /* Example hover background color */
    color: #fff; /* Example hover text color */
  }
  
  .hover-effect:hover {
    background-color: #555; /* Example hover background color */
    color: #fff; /* Example hover text color */
  }


